---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-2 mt-5">
    <div class="text-xl py-1">Hey there 👋🏼</div>
    <div class="text-5xl font-bold">I'm Can Duyar</div>
    <div class="text-3xl py-3">Data Scientist, AI & Machine Learning Engineer</div>

    <div class="py-8">
      <text class="text-lg">
        Welcome to my personal website! 🚀
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div> -->
  </div>

  <div>
    <div class="text-2xl w-full font-bold mb-2 pt-10">About me</div>
    <div class="py-2">
      <text class="text-lg">
        I was born and raised in <a href="https://www.youtube.com/watch?v=-2FKlfUyAQ8">Istanbul</a> and successfully completed my Bachelor's degree in Computer Engineering
        at one of Turkey’s leading universities. Currently, I am pursuing a Master’s degree in Information & Computer Engineering at 
        Graz University of Technology in <a href="https://www.youtube.com/watch?v=bl_eV3MqOwI">Austria</a>.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Throughout my career journey, my interest in artificial intelligence and the healthcare sector has played a significant role. Artificial intelligence 
        captivates me with its ability to solve complex problems by mimicking the perfect working principles of the human brain. These systems, which replicate 
        the brain’s learning, problem-solving, and decision-making mechanisms through mathematical algorithms, enable me to develop projects that can have meaningful 
        impacts on human life, particularly in the healthcare field. In this context, I am working on projects that focus on the use of artificial intelligence in 
        disease diagnosis, exploring the potential of this innovative technology to revolutionize the medical field. With my expertise in data analysis and 
        artificial intelligence system development, I aim to create innovative solutions with the potential to make a significant impact on people’s lives.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Additionally, traveling the world to discover new cultures and gain different perspectives is one of my greatest passions. Reading books 
        and doing meditation are among the other hobbies that contribute to my personal growth.
      </text>
    </div>

    <div class="py-7">
      <text class="text-lg" style="margin-top: 30px;">
        These are a few of my favorite things:
      </text>

        <ul class="list-disc pl-10 mb-4">
          <li class="mt-2">City: <a href="https://www.youtube.com/watch?v=cwenLWoeItQ">Vienna</li>
          <li>Movie: Sherlock Holmes</li>
          <li>Book: Homo Deus - A Brief History of Tomorrow</li>
          <li>Scientist: Nikola Tesla</li>
        </ul>

    </div>

  </div>

  <div>
    <div class="text-2xl w-full font-bold pt-10 mb-2">This website</div>
    <div class="py-2">
      <text class="text-lg">
        I built this website using Astro web framework using
        <a href="https://github.com/manuelernestog/astrofy">Astrofy template</a>
        It's hosted on Vercel. I maintain it locally using VSCode and upload
        changes to GitHub. This whole thing cost me $0 to build and host!
      </text>
    </div>
  </div>

  <!-- <div>
    <div class="text-2xl w-full font-bold mb-2 pt-10">Get in Touch</div>
    <div class="py-2">
      <text class="text-lg">
        Want to discuss a cool idea?
      </text>
      <div class="mt-2">
        <a class="btn" href="https://www.linkedin.com/in/can-duyar-6770b8150/" target="_blank"> Let's Connect!</a>
        <a href="mailto:canduyar9991@gmail.com" target="_blank" class="btn btn-outline ml-5" referrerpolicy="no-referrer-when-downgrade">
          Email me
        </a>
      </div>
    </div>
  </div> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
